<div class="map-container">
    <div class="geodata">
        <textarea name="" id="" cols="40" rows="20" [(ngModel)]="geodata"></textarea>
        <div>
            <button  class="geo-btn" (click) = 'noteLocation(map)'>Find Location</button>

        </div>
    </div>
    <div id="map"></div>

</div>

<!-- <img alt="" role="presentation" src="https://c.tile.thunderforest.com/cycle/1/1/1@2x.png?apikey=6170aad10dfd42a38d4d8c709a536f38" class="leaflet-tile leaflet-tile-loaded" 
style="width: 256px; height: 256px; transform: translate3d(418px, 256px, 0px); opacity: 1;"> -->

